
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}


blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.logo {
  width: 80px;
  height: 80px;
}

h3 {
  padding: 20px;
  text-decoration: none;
}

.logo:hover {
  transition-duration: 4s;
  animation: infinite;
  transform: rotateY(360deg);
  cursor: pointer;

}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  position: relative;
}

.nasa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}

header {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  text-align: center;
  align-items: center;
  max-height: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav .navlink {
  color:  #333;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav .navlink:hover {
  background-color: #555;
  color:  white;
}

nav .navlink.active {
    color: #ff9800;
}

@keyframes navAnimation {
  0% {
      transform: translateY(-100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

nav .navlink {
  animation: navAnimation 0.5s ease forwards;
  animation-delay: calc(0.1s * var(--index));
}


.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.container-left {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  text-align: center;
}

.container-left h3 {
  margin: 10px 0;
}

.container-left i {
  margin-right: 10px;
  color: #007bff;
}


.container-right {
  flex-basis: 60%;
}

.about, .chiffre {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about h2, .chiffre h2 {
  color: #333;
}

.about p, .chiffre p {
  color:  #333;
}

.wrapperstat {
  margin-top: 10px;
}

.wrapperstat p {
  margin: 5px 0;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button2 {
  background-color: #ff4500;
  margin: 6px;
}

button:hover {
  background-color: #555;
}


.rechercher {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rechercher h2 {
  color: #333;
}

.rechercher select {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rechercher form {
  margin-bottom: 20px;
}

.rechercher label {
  display: block;
  margin-bottom: 5px;
}

.rechercher input[type="text"] {
  padding: 8px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rechercher button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.rechercher button:hover {
  background-color: #555;
}

.imageplanete {
  background-color:  #333;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-global {
  flex-basis: 60%;
}

#planetsList ul li {
  transition: background-color 0.3s ease;
}

#planetsList ul li:hover {
  background-color: #f0f0f0;
}

#planetsList {
  max-width: 1200px;
  max-height: 500px; 
  overflow-y: auto; 
  font-size: 18px;
}

#planetsList:hover {
  cursor: pointer;
}

p {
  color: rgb(255, 255, 255);
  font-size: 18px ;
  font-weight: 500;
  max-width: 700px;
  letter-spacing: 1px;
  font-stretch: expanded;
  padding: 5px;
}

.navlink {
  text-decoration: none;
  color: #333;
}

.imagearticle {
    width: 200px;
}

.article-preview {
  border: solid 2px #333;
  margin: 10px;
  max-width: 400px;
}