
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 7px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.container-left {
  background-color: #f0f0f0; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  text-align: center;
}

.container-left h3 {
  margin: 10px 0;
}

.container-left i {
  margin-right: 10px;
  color: #007bff;
}


.container-right {
  flex-basis: 60%;
}

.about, .chiffre {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about h2, .chiffre h2 {
  color: #333;
}

.about p, .chiffre p {
  color: #666;
}

.wrapperstat {
  margin-top: 10px;
}

.wrapperstat p {
  margin: 5px 0;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button2 {
  background-color: #ff4500;
}

button:hover {
  background-color: #555;
}


.rechercher {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rechercher h2 {
  color: #333;
}

.rechercher select {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rechercher form {
  margin-bottom: 20px;
}

.rechercher label {
  display: block;
  margin-bottom: 5px;
}

.rechercher input[type="text"] {
  padding: 8px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rechercher button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.rechercher button:hover {
  background-color: #555;
}

.imageplanete {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imageplanete p {
  color: #333;
  margin: 0;
}

.imageplanete img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.container-global {
  flex-basis: 60%;
}

#planetsList ul li {
  transition: background-color 0.3s ease;
}

#planetsList ul li:hover {
  background-color: #f0f0f0;
}

#planetsList {
  max-width: 1200px;
  max-height: 500px; 
  overflow-y: auto; 
}

#planetsList:hover {
  cursor: pointer;
}